<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>529824525468-67b0io2mtcp9daoj73tg6q1nieg0vml5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529824525468-67b0io2mtcp9daoj73tg6q1nieg0vml5</string>
	<key>API_KEY</key>
	<string>AIzaSyC0FeJtyUdeQJkSdR0Z5_zHlGs6HlH_EFM</string>
	<key>GCM_SENDER_ID</key>
	<string>529824525468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rishabh.ComplexSignUp</string>
	<key>PROJECT_ID</key>
	<string>mysignup-8d07d</string>
	<key>STORAGE_BUCKET</key>
	<string>mysignup-8d07d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:529824525468:ios:e322a736d464fd7f</string>
	<key>DATABASE_URL</key>
	<string>https://mysignup-8d07d.firebaseio.com</string>
</dict>
</plist>